/* Place your CSS styles in this file */
body {background-color: mistyrose;
      border: 3px solid rgb(187, 66, 102);
      border-radius: 20px; 
}

ul {
    list-style-type:none;
    background-color: hotpink;
    text-align: right;
    font-size:medium;
}

li {
    display: inline;
    color: antiquewhite;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 250%;
    color: rgb(235, 111, 132) ;
}

p {
    text-align:justify;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    color: black;
}

img {
    display: block;
    margin: auto;
}

p.par2 {
    text-align: center;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}